.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
#img{
    width: 100%;
}
.start_button{
    width:130px;
    font-size:25px;
    background-color: rgb(90, 221, 90);
}
canvas{
    border:5px solid white;
    border: 20px;
}